SyncFrameWork/Service References/SyncService/SyncService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2009/04/sync/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2009/04/sync/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5032/SyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" name="idFormatGroup" nillable="true" type="q1:SyncIdFormatGroup" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" name="forgottenKnowledge" nillable="true" type="q2:ForgottenKnowledge" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" name="syncKnowledge" nillable="true" type="q3:SyncKnowledge" />
</xs:schema>