SyncFrameWork/Service References/SyncService/SyncService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5032/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:5032/SyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:import schemaLocation="http://localhost:5032/SyncService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:5032/SyncService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="LoadSyncSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSyncSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="LoadSyncSessionResult" nillable="true" type="q1:LocalSyncDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSyncSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="localSync" nillable="true" type="q2:LocalSyncDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSyncSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSyncSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSyncKnowledge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSyncKnowledgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="GetCurrentSyncKnowledgeResult" nillable="true" type="q3:SyncKnowledge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchSize" type="xs:unsignedInt" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="destinationKnowledge" nillable="true" type="q4:SyncKnowledge" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="dfs" nillable="true" type="q5:LocalSyncDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadSingleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadSingleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadSingleFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="FileByteStream" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Length" type="xs:long" />
  <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common" name="Metadata" nillable="true" type="q8:ItemMetadata" />
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="itemID" nillable="true" type="q9:SyncId" />
        <xs:element minOccurs="0" name="itemUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreKnowledgeForScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="knowledge" nillable="true" type="q10:SyncKnowledge" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="forgotten" nillable="true" type="q11:ForgottenKnowledge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreKnowledgeForScopeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerFileInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetServerFileInfoResult" nillable="true" type="q12:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFileTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFileTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServerTextFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServerTextFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>